mat-card{
    display: flex;
    margin: 10px;
}
mat-spinner, mat-icon{
    margin-left: 10px;
    margin-right: 10px;
}

table{
    width: 100%;
    .status{
        width: 30%;  
    }
    td{
        width: 100%;
    }

}
