<mat-toolbar color="primary" class="app-toolbar">
  <mat-toolbar-row *ngIf="!this.authSocketService.user">
    <button mat-button><mat-icon style="margin-right: 10px" svgIcon="python"></mat-icon>Pykins</button>
    <span class="spacer"></span>
    <button mat-button routerLink="/login">Log In</button>
  </mat-toolbar-row>
  <mat-toolbar-row *ngIf="this.authSocketService.user">
      <button mat-button routerLink="/jobs"  routerLinkActive="mat-accent">Job list</button>
      <button mat-button routerLink="/hosts"  routerLinkActive="mat-accent">Hosts</button>
      <button mat-button routerLink="/calendar"  routerLinkActive="mat-accent">Calendar</button>
      <button mat-raised-button [routerLink]="['/jobs/', 'New Job']">
        Create Job
        <!-- <mat-icon>add_box</mat-icon> -->
      </button>
      <span class="spacer"></span>
      <button mat-button routerLink="/settings" routerLinkActive="mat-accent">
        <mat-icon>settings</mat-icon>
      </button>
      <button mat-button (click)="logout()">Logout</button>
  </mat-toolbar-row>
</mat-toolbar>

