.button-row{
  display: inline-block;
  width: 230px;
}
.button-row button {
  display: table-cell;
  margin-right: 8px;
}
.form {
  margin: 8px;
  min-width: 100px;
  max-width: 350px;
  width: 100%;
}
.full-width {
  width: 100%;
}
mat-form-field {
  margin-right: 12px;
}
