.form {
  margin: 10px;
  min-width: 100px;
  max-width: 350px;
  width: 100%;
}
mat-form-field {
  margin-right: 15px;
}

.spacer{
  flex: 1 1 auto;
}

button{
  margin-right: 5px;
  margin-left: 5px;
}
