<ngx-monaco-editor class="my-code-editor" [options]="editorOptions" [(ngModel)]="code"></ngx-monaco-editor>

<!-- If need diff editor -->
<!-- <ngx-monaco-diff-editor [options]="options" [originalModel]="originalModel" [modifiedModel]="modifiedModel"></ngx-monaco-diff-editor> -->


<!-- <div class="mat-background, inner-component"> -->
<!-- <div class="code-editor" contenteditable="true"></div> -->
<!-- <p>{{job_name}}</p>
<textarea class="" name="message" cols="80" rows="50" [(ngModel)]="code" #message='ngModel'></textarea>
</div> -->
