<mat-toolbar color="primary" class="mat-elevation-z8" >
  <mat-toolbar-row>
    <button mat-button routerLink="/">
      <mat-icon>home</mat-icon>
      <span>Pykins</span>
    </button>
      <button mat-button routerLink="/jobs"  routerLinkActive="mat-accent">Job list</button>
      <button mat-button routerLink="/hosts"  routerLinkActive="mat-accent">Hosts</button>
      <button mat-button routerLink="/calendar"  routerLinkActive="mat-accent">Calendar</button>
  </mat-toolbar-row>
</mat-toolbar>
<div class="header-margin"></div>
